.leftBlock{
	heigth: 100%;
	background-color: red;
	
}
.modal { max-height: 100%; overflow: visible}
.card .card-content{
	
    overflow: hidden;
}
.tabs .tab a:focus.active {
	background-color: #ab47b;
}